<ion-content padding>
  <ion-list>
        <div *ngFor="let question of frequentQuestions;let i = index;" style="margin-bottom:1rem">
            <ion-item color="primary" (click)="toggleSection(i,true)">
                <ion-label class="ion-text-wrap" slot="start">
                    {{question.title}}
                </ion-label>
                <ion-icon [name]="(question.open)?'add':'remove'" slot="end"></ion-icon>
            </ion-item>
            <ion-item lines="none" [class.parent-active]="question.open" *ngIf="question.open">
                <ion-label class="ion-text-wrap">
                        {{question.description}}
                </ion-label>
            </ion-item>            
        </div>
        </ion-list>
</ion-content>