<ion-header>
  <ion-toolbar>
    <ion-title>IONIC TEST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="goToTab('tab1')">
      <ion-label>Problemas Sociales</ion-label>
    </ion-item>
    <ion-item (click)="goToTab('tab2')">
      <ion-label>Eventos</ion-label>
    </ion-item>
    <ion-item (click)="goToTab('tab3')">
      <ion-label>Emergencias</ion-label>
    </ion-item>
    <ion-item (click)="goToTab('tab4')">
      <ion-label>Reportes</ion-label>
    </ion-item>
    <ion-item (click)="goToTab('tab5')">
      <ion-label>Buscador</ion-label>
    </ion-item>
    <ion-item (click)="goToTab('tab6')">
      <ion-label>ImagenDetail</ion-label>
    </ion-item>
    <ion-item (click)="goToTab('tab7')">
      <ion-label>Filtro</ion-label>
    </ion-item>
     <ion-item (click)="goToTab('tab8')">
      <ion-label>Preguntas Frecuentes</ion-label>
    </ion-item>
     <ion-item (click)="goToTab('tab9')">
      <ion-label>Datos Directiva</ion-label>
    </ion-item>
  </ion-list>
</ion-content>