<ion-header>
    <ion-toolbar>
        <ion-title>
            Emergencias
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
        <p>
                <span (click)="showOne()">Show 1</span>
                <span (click)="showTwo()">Show 2</span>
            </p>
    <div *ngIf="showPost===1">
        <h1 style="text-align:center; background: cadetblue;color: white;">Emergencias</h1>
        <ion-card class="emergency" *ngFor="let i of [1,1,1]">
            <ion-card-header class="post-header">
                <ion-card-title class="post-title"> Robo a mano Armada en la Tienda Olivos
                </ion-card-title>

            </ion-card-header>
            <ion-card-content class="post-content">
                <p class="post-description">
                    Lorem Problem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
                    reiciendis quibusdam odit aperiam
                </p>
                <p class="see-more">Leer más...</p>
            </ion-card-content>
        </ion-card>
    </div>
    <div *ngIf="showPost===2">
        <h1 style="text-align:center; background: cadetblue;color: white;">Emergencia</h1>
        <div class="emergency-detail">
                <div class="post-cover">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWvcUcBzXg-QFPRAHublaqPJ20USveOD2vElaqxJrDt0ofTOsj"
                        alt="Imagen Tarjeta" class="img" />
                </div>
                <div class="post-info-container">
                    <div class="post-container-main-info">
                        <div class="main-post-info">
                            <p class="item-info">
                                <span class="icon-fulldate">
                                    <ion-icon name="calendar" class="social-problem-state"></ion-icon>
                                </span>
                                <span>25 de Septiembre, 2019 </span>
                            </p>
                            <p class="item-info">
                                <span class="icon-ubication">
                                    <ion-icon name="pin" class="social-problem-state"></ion-icon>
                                </span>
                                <span>Av 6 de Dicembre y Amazonas</span>
                            </p>
                            <p class="item-info">
                                <span class="icon-people">
                                    <ion-icon name="people" class="social-problem-state"></ion-icon>
                                </span>
                                <span>2 personas les gusta</span>
                            </p>
                        </div>
                        <div class="state-info" (click)="toggle()">
                            <ion-chip class="chip-post-state" [class.done]="alternatePost">
                                <ion-icon [name]="(alternatePost) ? 'checkmark':'person-add'" class="social-problem-state"></ion-icon>
                                <ion-label>{{(alternatePost)?'Atendida':'Pendiente'}}</ion-label>
                            </ion-chip>
                        </div>
                    </div>
                    <div class="post-description-info">
                        <h2>Essential Https Concepts you should know</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero totam corrupti
                            obcaecati laudantium commodi, repellat ad iure sapiente enim voluptas, cum
                            quam
                            voluptatum! Aliquam delectus odit quos. Minus, et a.</p>
                    </div>
                    <div class="map-container" style="width:100%;height:200px;">
                        <h4 class="title">Ubicación</h4>
                        <div style="width: 100%">
                            <iframe width="100%" height="100%"
                                src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=Les%20Rambles%2C%201%20Barcelona%2C%20Spain+(Mi%20nombre%20de%20egocios)&ie=UTF8&t=&z=14&iwloc=B&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>
                        </div>
                    </div>
                    <div class="image-gallery-container">
                        <h4 class="image-gallery-title">Imágenes</h4>
                        <div class="image-gallery">
                            <figure class="image-item" *ngFor="let image of [1,1,1,1]">
                                <img class="image"
                                    src="https://dn60005mpuo2f.cloudfront.net/wp-content/uploads/2012/08/greatplace.jpg"
                                    alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</ion-content>
